<% include ./partials/header %>


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="/stylesheets/about.css">


  <!DOCTYPE html>

  <body id="page-top">

    

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>About PetMe</h1>
        <p class="lead">The perfect Platform to find your dogssiter</p>
      </div>
    </header>

    <section id="about">
      <img src="https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=74431fa8893bb465f3c8a637624c112a&auto=format&fit=crop&w=667&q=80" class="img-circle" alt="Cinque Terre" style="float: right;width: 400px; width: 300px;margin:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Our goal</h2>
            <p class="lead">We want to keep our best friends in a good hands, here you can find your perfect dogsitter.</p>
            <ul>
              <li>your dog will be happy to not be alone when you go to vecation</li>
              <li>its less more then a dogs-hotel</li>
              <li>and mayble you will find a new friends</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
       <img src="https://images.unsplash.com/photo-1457473075527-b0db85c08e66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7fdf792dd02e710cf9bd35fd672d40b&auto=format&fit=crop&w=755&q=80" class="img-circle" alt="Cinque Terre" style="float: right;width: 400px; width: 300px;margin:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Services we offer</h2>
            <p class="lead">In our platform you can post your dog and put the dates that you need that someone will take care of your dog.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
       <img src="https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=750&q=80" class="img-circle" alt="Cinque Terre" style="float: right;width: 400px; width: 300px;margin:50px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">If you have another questions or just want to tell us something please contact us and havea good day!.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your PetMe 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    

</html>
